
/*---GENERAL---*/
body{
  background-image: url("img/bg.PNG");
  width: 100%;
}

html,body,a,div,h1,h2,h3,ul,li,p, fieldset, button, input{
  margin: 0;
  padding: 0;
}

p{
  font-family: 'Lato';
  font-size: 1em;
}

.wrapper{
  margin: 0 auto;
  width: 980px;
}

.clear{
  clear: both;
}

h3{
  font-family: 'Satisfy', cursive;
  font-size: 2.3em;
  text-align: center;
  font-weight: 400;
}


h2{
  font-family: 'Satisfy', cursive;
  font-size: 2em;
  font-weight: 400;
}

h1{
  font-family: 'Satisfy', cursive;
  font-size: 2em;
  font-weight: 400;
}

header{
  text-align: center;
  padding-top: 46px;
}

nav{
  margin: 56px 0px;
}

nav ul{
  list-style: none;
  font-family: 'Lato', san-serif;
  font-size: 2.3em;
}

nav ul li{
  display: inline-block;
  width: 268px;
  height: 62px;
  padding-top: 15px;
  text-align: center;
  margin-right: 78px;
}

.active{
  background-image: url("img/border_active.PNG");
  background-repeat: no-repeat;
  background-position: center center;
}

.noactive{
  background-image: url("img/border.PNG");
  background-repeat: no-repeat;
  background-position: center center;
}


nav ul a:last-child li{
  margin-right: 0px;
}


nav ul a{
  color: #000000;
  text-decoration: none;
}

ul li a:hover, nav ul a:hover, article .post_right a:hover{
  color: #fe4271;
}

.sr-only{
  display: none;
}

.color{
  color: #fe4271;
}

section{
  float: left;
}

/*---FOOTER---*/
#copyright{
  text-align: center;
  margin: 40px 0px;
  display: block;
  float: right;
}

#copyright a{
  color: #fe4271;
  text-decoration: none;
}


section{
  width: 100%;
}

.post_title_date{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  display: -webkit-flex;
  align-items:center;
  justify-content:flex-start;
  -webkit-justify-content: flex-start;
}

.post_date_p{
  font-family: 'Satisfy';
  padding-left: 20px;
}

.post{
  width: 100%;
}

.post > img{
  display: block;
  margin: 20px auto;
}

.comments{
  margin: 20px 0px;
  padding: 20px 0px;
}
.comments h2{
  font-family: 'Satisfy';
  font-size: 1.3em;
  cursor: pointer;
}

.comment_one{
  margin: 25px 0px;
}

.commet_section{
  display: none;
}

.last_one_post{
  display: flex;
  align-items: center;
  display: -webkit-flex;
  align-items:center;
  justify-content:space-around;
  -webkit-justify-content: space-around;
}

.last_one_post a{
  text-decoration: none;
}


.last_one h3{
  font-size: 1.3em;
  text-align: left;
  display: block;
  margin: 10px;
}

.last_post h4{
  font-family: 'Satisfy';
  font-weight: 400;
  text-align: center;
  font-size: 1.4em;
  margin: 5px 0 0 0;
}



/*---HOMEPAGE ARTICLE SECTION---*/
section.homepage{
  width: 680px;
}

article.homepage{
  display:flex;
  display: -webkit-flex;
  margin-bottom: 80px;
}

.post_right{
  width: 50%;
  padding-left: 20px;
  padding-right: 5px;
  padding-top: 10px;
}

.post_right .post_title_date{
  display:flex;
  display: -webkit-flex;
}

.post_right .post_date{
  font-family: 'Satisfy';
  display:flex;
  display: -webkit-flex;
  justify-content:flex-end;
  align-items:center;
  -webkit-align-items: center;  
  -webkit-justify-content: flex-end;
  width: 60%; 
}

.post_content{
  padding: 10px 0px;
}

.post_img{
  width: 329px;
  height: 219px;
  display:flex;
  display: -webkit-flex;
  justify-content:center;
  align-items:center;
  -webkit-align-items: center;  
  -webkit-justify-content: center;  
}

section a.post_read{
  font-family: 'Satisfy';
  font-size: 1.2em;
  color: #000000;
  float: right;
}

#next_previous{
  display: flex;
  display: -webkit-flex;
  justify-content:center;
  align-items:center;
  -webkit-align-items: center;  
  -webkit-justify-content: center;
  margin: 50px 0px;
}

#next_previous p{
  font-family: 'Satisfy';
  font-size: 2em;
  margin: 0 30px;
}


/*---HOMEPAGE ASIDE--*/
aside{
  width: 270px;
  float: right;
}

#about{
  text-align: center;
}

#about h3{
  font-size: 3.2em;
  padding-top: 10px;
}

#about p{
  padding: 0px 20px;
}

.border_bottom{
  margin-top: 50px;
  background-image: url("img/border_pink.png");
  background-repeat: no-repeat;
  background-position: center center;
}

#social_media{
  text-align: center;
}

#social_media img{
  padding: 20px 5px 0px 5px;
}

.wool_list{
  list-style: none; 
  text-transform: uppercase;
  font-size: 1.5em;
  font-family: 'Lato';
  padding-left: 40px;
}

.wool_list li{
  margin: 8px 0px;
  background-image: url('img/wool.PNG');
  background-position: left center;
  background-repeat: no-repeat;
  height: 32px;
}

.wool_list a{
  color: #000000;
  text-decoration: none;
  padding-left: 40px;
}

/*
fieldset{
  border: none;
  background-image: url('img/search_border.PNG');
  background-repeat: no-repeat;
  margin-top: 60px;
  width: 100%;
  display: inline-block;
  float: left;
  height: 60px;
  vertical-align: middle;
}

input[type=text]{
  border: none;
  width: 206px;
  background: transparent;
  padding-left: 15px; 
    font-size: 1.5em;
  font-family: 'Satisfy';
  background-color: red;
  display: inlin-block;
}

input[type=text]:focus, button:focus{
  border: none;
  outline: none;
}

input[type=submit]{
  border: none;
  background: transparent;
  background-color: pink;
  background-image: url('img/loop.PNG');
  background-repeat: no-repeat;
  width: 25px;
  height: 34px;
  cursor: pointer;
  display: inline-block;
}
*/

a.left_arrow img{
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}


